
{% extends 'base.html' %}

{% block title %}breeding{% endblock %}

{% block content %}
<div class="border p-4 rounded-lg border-black">
   
    <h1 class="font-sans text-3xl mb-6">
        Welcome to the IMA fish farm!
    </h1>
    <ul class="font-sans flex flex-col space-y-2">
        
        <li><a class="border px-2 rounded-lg border-black" href="{% url 'bought:index' %}">Bought</a></li>
        <li><a class="border px-2 rounded-lg border-black" href="{% url 'sold:index' %}">Sold</a></li>
        <li><a class="border px-2 rounded-lg border-black" href="{% url 'maintenance:index' %}">Maintenance</a></li>
        <li><a class="border px-2 rounded-lg border-black" href="{% url 'breeding:index' %}">breeding</a></li>
        <li><a class="border px-2 rounded-lg border-black" href="{% url 'budget:index' %}">budget</a></li>
    </ul>
</div>


{% endblock %}

