{% extends 'base.html' %}

{% block title %}Total Prices{% endblock %}

{% block content %}
<div>
    <h1 class="text-[20px] mb-6">Monthly Net Totals (Sold - (Bought + Maintenance))</h1>
    
    <div class="container mx-auto mt-10">
        <div class="overflow-x-auto">
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th class="py-4 px-10 text-left">Month</th>
                        <th class="py-4 px-10 text-left">Net Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for month, total in final_totals.items %}
                    <tr>
                        <td class="py-4 px-10 border-b border-gray-200">{{ month }}</td>
                        <td class="py-4 px-10 border-b border-gray-200">රු. {{ total|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="py-4 px-10 border-b border-gray-200 font-bold">Overall Net Total</td>
                        <td class="py-4 px-10 border-b border-gray-200 font-bold">රු. {{ total_price|floatformat:2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
