{% extends 'base.html' %}

{% block title %}Bought{% endblock %}

{% block content %}

<div class="flex flex-col">
    <form method="post" class="space-y-4 " action="{% url 'breeding:add_item' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="border px-2 rounded-lg border-black" type="submit">Submit</button>
        



       
    </form>

    <a class="border px-2 rounded-lg border-black mt-10" href="{% url 'breeding:index' %}">Back to list</a>
</div>

    
    <!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include jQuery UI library -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">


    <script>
        $(function() {
            // Initialize datepicker on the input field
            $('input[name="my_date"]').datepicker({
                dateFormat: 'yy-mm-dd'  // Format the date as needed
            });
        });
    </script>

{% endblock %}